@model IEnumerable<Clase12.Models.Movie>

@{
    ViewBag.Title = "ListaMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListaMovies</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="Movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                </td>

                <td>
                    <button data-customer-id="@item.ID" class="btn-link js-delete delete"> Borrar</button>
                </td>
            </tr>
        }
        </thead>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#Movies").DataTable();
            $(".delete").click(function () {
                var button = $(this);
                if (confirm("seguro que quiere borrar")) {
                    $.ajax({
                        url: "/Movies/Borrar/" + button.attr("data-customer-id"),
                        success: function () {
                            button.parents("tr").remove();
                        }
                    });
                }
            });
        });
    </script> }